.footer-main{
  width: 100%;
  color: #FDFCFB;
  float: left;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: black;
  margin-top: -10px;
}
.footer-col{
  /* width: 25%; */
  /* float: left; */
  padding: 20px;
  background-color: black;
  /* height: 500px; */
  color: #FDFCFB;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;;
} 
  .footer-subscribe{
    width: 100%;
    background-color: #737373;
    color: #FDFCFB;
    padding: 20px 10px ;
    float: left;
  }
  .footer-subscribe1{
    width: 70%;
    float: left;
    padding-left: 1.5%;
    
  }
  .footer-subscribe2{
    width: 30%;
    float: left;
    padding-top: 10px;;
  }
  .sub-email[type="email"] {
    width: 60%;
    background: #FDFCFB;
    font-family: 'Times New Roman', Times, serif;
    color: #737373;
    letter-spacing: 1px;
    border-radius: 5px 0 0 5px;
    height: 30px;
    margin-top: 20px;
    border: none;
    max-width: 250px;
    padding-left: 10px;
    font-weight: bold;
    font-size: medium;
    /* margin-bottom: 30px; */
  }
  
  
  .email-subscribe{
    width: 30%;
    background: #ff8c00;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .2s ease-in-out;
    height: 30px;
    border: none;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    
  }
    .follow-list{
      float: left;
      display: flex;
      padding-left: 10px;
      font-size: 20px;
      color: #ff8c00;
    }
    .follow-list a{
      color: #ff8c00;
    }
    .follow-list a :hover{
      color: whitesmoke;
    }
  
  .email-subscribe:hover {
    background: #000000;
    color:#ff8c00;
  }
  .email-subscribe:focus{outline: none;}
    
  .sub-email:focus {
    outline: none;
  }
  
 .footer-copy{
  width: 100%;
  background-color: #ff8c00;
  text-align: center;
  margin: 0%!important;
  /* padding: 100px; */
  /* margin-top: 10000px; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  /* margin-bottom: -500px; */
}