.home1container
{
    /* width: 100vw;
    height: 100vh; */
    /* border: 1px solid palevioletred; */
    border: 0;
    box-sizing: border-box;
}
.home1box1
{
   /* display: inline; */
   border: 1px solid black;
   display: flex;
   background-image: url("/images/home1.jpg"); 
   width: 100%;
   height: 200%;
   /* padding-right: 10%; */
   padding-left: 5%;
   padding-top: 10%;
   padding-bottom: 10%;
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center;
   box-sizing: border-box;
}
.home1para1
{
   display: inline;
  
   width: 70%;
   box-sizing: border-box;
   height: 60%; 
   /* border: 1px solid yellow;  */
}
.home1heading
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10%;
     /* border: 1px  solid crimson;  */
     box-sizing: border-box;
    margin-left: 2%; 

}

.home1para
{
    color: white;
    /* border: 1px sandybrown solid;  */
    width: 70%;
    /* justify-content: center; */
    text-align: justify;
    box-sizing: border-box;
    margin-left: 10%;
    letter-spacing: 2px; 
}
.home1content1
{
    /* border: 1px solid green; */
    display: flex;
    /* margin-top: 10px;
    margin-left: 10%;
    margin-right: 10px; */
    margin: 5%;
    box-sizing: border-box;
    
}
.home1vissionimg
{
    background-image: url("/images/home5.jpg"); 
    /* border: 1px solid orangered; */
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 150%;
    height: 400px;
    box-sizing: border-box;
    border-radius: 15px;
    
}
.visionheading
{
    /* padding: 15%;  */
    box-sizing: border-box;
}
.visionheadingbox
{
 font-family: Georgia, 'Times New Roman', Times, serif;
 /* margin-top: 1%; */
 /* margin-bottom: 5%;  */
 /* border: 1px solid black; */
 margin-left: 40%;
 margin-top: 5%; 
 width: 24%;
 padding: 2%;
 background-color: orangered; 
 color: white;
 box-sizing: border-box;
}
.visionheadingpara
{
 /* border: 1px solid black; */
 width: 80%;
 /* padding: 1px; */
 text-align: justify;
  margin-left: 10%;
  margin-top: 10%;
  font-size: 18px;
  box-sizing: border-box;
  /* word-spacing: 10px; */
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;

}
.home1content2
{
    height: 100%;
    width: 98%;
    /* border: 1px solid goldenrod; */
    display: flex;
    box-sizing: border-box;
    margin-top: 5%;
    margin-right:8% ;
    margin-left: 1.5%;
    
}
.home1missionpara
{
    /* border: 1px solid green; */
    height: auto;
    width: 50%;
    box-sizing: border-box;
    
}

.home1missionimg
{
    background-image: url("/images/hom4.jpg"); 
    /* border: 1px solid orangered;  */
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
    border-radius: 15px;
}
.missionheading
{
    /* border: 1px solid red; */
    height: 100%;
    box-sizing: border-box;
}
.missionheadingbox
{
    /* border: 1px solid black; */
    width: 28.5%;
    padding: 2.5%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: orangered;
    color: white;
    margin-left: 35%;
    margin-bottom: 10%;
    margin-top: 5%;
}
.missionheadingpara
{
    /* border: 1px solid black; */
    font-size: 18px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: justify;
    width: 86%;
    /* word-spacing: 1px; */
    margin-left: 6%;
}

.home1box4
{
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 10%;
    /* border: 1px solid black; */

}
.home1client
{
    /* border: 1px solid black; */
    font-size: 220%;
    width: 17%;
    margin-left: 40%;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1%;
    box-sizing: border-box;
    background-color: orangered;
    color: white;
    font-weight: bold;
}

.fling-minislide 
{
width:33.3%; 
height:300px; 
overflow:hidden; 
position:relative;
/* padding: 15px 30px 15px 30px; */
/* margin-bottom: 10vh; */
/* margin: 1vh 2vw 1vh 2vw; */
margin-bottom: 1.5%;
margin-top: 0%;
margin-right: 1%;
margin-left: 1%;
border-bottom: 5px solid orangered;
border-right: 5px solid orangered;
border-radius: 50px;
}
.fling-minislide img
{
position:absolute;
animation:fling-minislide 20s infinite; 
opacity:0; 
width: 100%; 
height: 100%;
}
@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}
