*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }
  .body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  -webkit-radial-gradient(circle, #eeaee7, #3bc4f7);
    font-family: 'Nunito', sans-serif;
  }
  .containerlogin{
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .imagebox{
      width: 450px;
      height:550px;
      float:left;
      align-items: center;
      background-color:darkseagreen;
  }
  .cofeeimg{
    width: 450px;
    height:550px;
  }
  .center{
    width:350px;
    background-color: white;
    border-radius:10px;
    position: absolute;
    top:50%;
    left:74.8%;
    transform:translate(-50%,-50%);
  }
  .center h1{
    text-align:center;
    padding: 0 0 10px 0;
    border-bottom:1px solid silver;
  }
  .center form{
    padding : 0 40px;
    box-sizing: border-box;
  }
  .txt_field{
    position:relative;
    border-bottom:2px solid #adadad;
    margin:30px 0;
  }
  .txt_field input{
    width:100%;
    padding:0 5px;
    height:40px;
    font-size:16px;
    border:none;
    background:none;
    outline:none;
  }
  .txt_field label{
    position:absolute;
    top: 50%;
    left:5px;
    color:#adadad;
    transform:translateY(-50%);
    font-size:16px;
    pointer-events:none;
    transition: 0.5s;
  }
  .txt_field span::before{
    content:'';
    position:absolute;
    top:40px;
    left:0;
    width:0%;
    height:2px;
    background:#2691d9;
    transition: 0.5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top:-5px;
    color:#2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width:100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color:#a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
    color:red;
  }
  input[type = "submit"]{
    width:100%;
    height:50px;
    border:2px solid;
    background:#2691d9;
    border-radius:25px;
    font-size:18px;
    color:#e9f4fb;
    font-weight:700;
    cursor:pointer;
    outline:none;
  }
  input[type = "submit"]:hover{
    border-color:red;
    transition:0.5s;
  }
  .errormsg1{
    font-size:15px;
    color:red;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 900px){
    .imagebox{
      width: 20vw;
      height:550px;
      float:left;
      align-items: center;
      background-color:darkseagreen;
  }
  .cofeeimg{
    width: 0vw;
    height:550px;
  }
  .center{
    border:1px solid black;
    width:250px;
    background-color: white;
    border-radius:10px;
    position: absolute;
    top:50%;
    left:50.8%;
    transform:translate(-50%,-50%);
    }
    input[type = "submit"]{
      width:50%;
      height:40px;
      border:2px solid;
      background:#2691d9;
      border-radius:25px;
      font-size:15px;
      color:#e9f4fb;
      font-weight:700;
      cursor:pointer;
      outline:none;
    }
    .errormsg1{
      font-size:10px;
      color:red;
    }
  }
  
  
  