.navbar {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/*Início das configurações da header*/
header {
    width: 100%;
    height: 80px;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: #6087bb;
    border-bottom:#e8491d 3px solid;
    

}
.brand {
    width: auto;
    height: 100%;
    float: left;
    color:yellow;
    font-size: 1.4em;
    margin: 0 0 0 2%;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 50px;
}
/*Início das configurações da Navigation*/
.menu {
    width: 60%;
    height: 100%;
    float: right;
}
.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.menu ul a {
    width: 20%;
    height: inherit;
    color: white;
    display: inline-block;
    padding-top: 20px;
}
.menu ul a:hover {
   color:#cccccc;
    font-weight:bold;
    text-decoration: underline;
    text-decoration-color: orangered;
}
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}
/*Início das configurações da Navigation com dispositivos < 768px*/
@media screen and (max-width: 768px) {
    .brand {
        width: auto;
        height: 100%;
        float: left;
        color:yellow;
        font-size: 1em;
        margin: 0 0 0 2%;
        font-weight: bolder;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
        /*Para fazer com que o menu saia da esquerda, você deve trocar max-height por max-width*/
        /*Para fazer com que o menu saia da direita, você deve trocar max-height por max-width e setar float: right*/
    }
    .menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        color: black;
        /* background-color: #f1c40f; */
        padding: 10px 0px 10px 5%;
    }
    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 22px;
        right: 0;
        /* line-height: 60px;  */
    }
    #menuToggle:checked ~ ul {
        max-height: 350px;
        /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/
    }
    .menu-icon i {
        font-size: 1.7em;
    }
}