* {
  box-sizing: border-box;
}
.servicebox {
  background-color: lightblue;
}
.row {
  margin-top: 30px;
  text-align: center;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.services-box1 {
  width: 33.33%;
  padding-left: 75px;
  float: left;
  margin-bottom: 80px;
}
.services-box2 {
  width: 33.33%;
  float: left;
}
.services-box3 {
  width: 33.33%;
  float: left;
}
.fa fa-file-code-o {
  font-size: 48px;
  color: #ff0000;
}
#toggle {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: -15px;
}

#toggle:checked ~ dialog {
  display: block;
}
#togglem {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
  margin-bottom: 25px;
  margin-left: -15px;
  margin-top: 20px;
}
.servicebox h2{
  text-align: center;
  padding: 15px;
  margin: auto;
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background: -moz-linear-gradient(#648880, #293f50);
  background: linear-gradient(#648880, #293f50);
}
#togglem:checked ~ dialog {
  display: block;
}
#togglea {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
  margin-bottom: 25px;
  margin-left: -15px;
  margin-top: 20px;
}

#togglea:checked ~ dialog {
  display: block;
}
#togglei {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
  margin-bottom: 25px;
  margin-left: -15px;
  margin-top: 20px;
}

#togglei:checked ~ dialog {
  display: inline-block;
  margin-top: -160px;
}
#toggleb {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
  margin-bottom: 25px;
  margin-left: -15px;
  margin-top: 20px;
}

#toggleb:checked ~ dialog {
  display: inline-block;
  margin-top: -160px;
}
#toggleo {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
  margin-bottom: 25px;
  margin-left: -15px;
  margin-top: 20px;
}

#toggleo:checked ~ dialog {
  display: inline-block;
  margin-top: -160px;
}
.servicebox label {
  background: green;
  color: white;
  padding: 0.5em 1em;
  border-radius: 4px;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

dialog {
  animation: appear 350ms ease-in 1;
  max-width: 500px;
  margin-left:45%;
}
.project_container{
  position: relative;
  width: 70%;
  margin: auto;
  opacity:0.8;
  margin-top:4%;
  height:60vh;
  border:1px solid white;
  border-radius: 20px;
  background: url("/images/serv.jpg");
}
.project_container a{
  text-decoration: black;
  font-family: 'Lato', sans-serif;
  color:black;
}
.project_textcontainer{
  position: relative;
  height:30vh;
  margin:5%;
  width:75%;
}
.project_textcontainer p{
  font-size:20px;
  margin-top:1%;
  font-display: initial;
  font-weight: initial;
}
.project_textcontainer h6{
  margin:1%;
  font-size:15px;
}
.project_textcontainer h5{
  font-size: large;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-style: initial;
  text-decoration: #000;
}
.custom-btn {
  float:right;
  width: 130px;
  height: 40px;
  padding: 8px 35px;
  border: 2px solid #000;
  border-radius:20px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  margin:10%;
  margin-top:1%;
  
}
.btn-10 {
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.btn-10:hover {
  color: #fff;
}
.btn-10:hover:after {
  background: #000;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 900px){
  .services-box1 {
    width: 33.33%;
    padding-left:1vw;
    float: left;
    margin-bottom:10vh;
  }
  .servicebox h2{
    text-align: center;
    padding: 10px;
  }
  dialog {
    animation: appear 350ms ease-in 1;
    max-width: 50vw;
    margin-left:20vh;
    font-size:15px;
  }
  .row img{
    width:10vw;
    height:10vh;
  }
  .services-box1 h3{
    font-size:8px;
  }
  .services-box2 h3{
    font-size:8px;
  }
  .services-box3 h3{
    font-size:8px;
  }
  .row label{
    font-size:10px;
  }

  
}
