@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sansita+Swashed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.serviceheading{
    background-color:lightslategrey;
}
.line{
    color:red;
    padding-top:10px;
}
.serviceheading h1 {
    text-align:center;
    padding:20px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Sansita Swashed', cursive;
}
.contentcontainer{
    background:url('/images/blue.jpg');
    border-radius: 10px;
    height:250px;
    width:500px;
    margin-left:25px;
    border:solid;
    color:white;
    display:flexbox;
    position:relative;
}
.contentcontainer h2{
    color:red;
    font-weight:bold;
    font-size:29px;
    padding:10px;
    font-family: 'Dancing Script', cursive;
}
.descbox{
    border:solid;
    height:100px;
    width:400px;
    color:black;
    float:left;
    border-radius:5px;
    margin-left: 10px;
    margin-top:5px;
}
.descbox p{
    text-align: justify;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
#myDIV {
    width: 60%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  
  
