
.leftnameerr{
    margin-left:100px;
    position:absolute;
    font-size:12px;
    color:red;
}
.rightnameerr{
    margin-left:400px;
    position:absolute;
    font-size:12px;
    color:red;
}
.specialnameerr{
    margin-left:200px;
    position:absolute;
    font-size:12px;
    color:red;
}
.container5 form{
    position:absolute;
    margin-top:20px;
    width:590px;
}