* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .country{
    margin-left:-305px;
  }
  .column {
    margin-top:40px;
    float: left;
    width: 50%;
    height: 120vh;    
     /* Should be removed. Only for demonstration */
  }
  .column1 {
    margin-top:10px;
    float: left;
    width: 50%;
    height: 120vh;
     /* Should be removed. Only for demonstration */
  }
  .signup_img{
    height :75vh;
    width : 50vw;
    position : relative;
  }
  .container10{
    border:1px solid orangered;
    box-shadow: 3px 3px #333;
    border-radius: 5px;
    width:600px;
    height:100vh;
    padding:5px;
    margin-top:40px;
    position : relative;
    margin-left:1vw;
    background-color:white;
    opacity:0.7;
    font-style:italic ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .container10 h1{
    text-align: center;
    font-size: 40px;
    font-weight:normal;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    font-display: initial;
    color:orangered;
    text-shadow:2px 2px orangered;
}
.container10 input[type=text],input[type = number],input[type = email],.container10 input[type = password],input[type = phone]{
    width: 180px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    padding:10px;
    margin-left:5px;
    color:black;
    text-decoration-color:white;
    background-color:lightslategrey;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
.leftnameerr{
    margin-left:100px;
    position:absolute;
    font-size:12px;
    color:red;
}
.rightnameerr{
    margin-left:400px;
    position:absolute;
    font-size:12px;
    color:red;
}
.specialnameerr{
    margin-left:200px;
    position:absolute;
    font-size:12px;
    color:red;
}
.specialnameerr1{
  margin-left:100px;
  position:absolute;
  font-size:12px;
  color:red;
}
#pw{
  position:absolute;
  margin-left:-150px;
}
#cpw{
  position:absolute;
  margin-left:10px

}
.s1{
  margin-left:-100px;
}
.phone1{
  position:absolute;
 margin-left:-110px;

}
.password{
  margin-left:-310px;
}
.password1{
  margin-left:-260px;
}
select {
    margin-left:15px;
    width:180px;
    height:30px;
    background-color:lightslategrey ;
}
.left{
    margin-left:50px;
  }
  .city{
    margin-left:100px;
  }
  #str{
    margin-left:35px;
  }
  #cty{
    margin-left:45px;
  }
  .ml
  {
    margin-left:-50px;
  }
  #ml{
    margin-left:3.5vw;
  }
  #state{
    margin-left:35px;
  }
  #zc{
    margin-left:18px;
  }
  #ph{
    margin-left:-60px;
    width:10%;
  }
  #pw{
    margin-left:28px;
  }
  .center{
    float:left;
  }
.container10 input[type=text]:focus,input[type = number] :focus {
    width: 30%;
  }
  .container10 input[type = email]:focus{
      width:50%;
  }
  .container10 input[type = password]:focus{
    width:30%;
}
  .container10 input[type = password]{
    margin-left:10px;
  }
  .container10 input[type = email]{
    width:300px;
  }
  .button1 {
    border-radius: 8px;
    background-color:black;
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left:50px;
    margin-top:50px;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 10px;
    color:white;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 900px){
    .column {
      float: left;
      width: 0%;
      height: 0vh;
      background-color:#222222;
      background:repeating-linear-gradient(45deg,
      #2b2b2b 0%,#2b2b2b 10%,#222222 50%)0/15px,15px
       /* Should be removed. Only for demonstration */
    }
    .column1 {
      float: left;
      width: 100%;
      height: 130vh;
      background-color:#222222;
      background:repeating-linear-gradient(45deg,
      #2b2b2b 0%,#2b2b2b 10%,#222222 50%)0/15px,15px
       /* Should be removed. Only for demonstration */
    }
    .container10{
      border:1px solid orangered;
      box-shadow: 3px 3px #333;
      border-radius: 5px;
      width:90vw;
      height:auto;
      padding:2px;
      margin-top:40px;
      position : relative;
      margin-left:7vw;
      background-color:white;
      opacity:0.7;
      font-style:italic ;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
    }
    .container10 h1{
      text-align: center;
      font-size: 20px;
      font-weight:normal;
      font-family:'Courier New', Courier, monospace;
      font-style: italic;
      font-display: initial;
      color:orangered;
      text-shadow:1px 1px orangered;
  }
  .container10 input[type=text],input[type = number],input[type = email],.container10 input[type = password],input[type = phone]{
    width: 180px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    padding:5px;
    margin-left:5px;
    color:black;
    text-decoration-color:white;
    background-color:lightslategrey;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-top:15px;
  }
  .left{
    position:absolute;
    margin-left:-250px;
    margin-top:70px;
  }
  .container10 input[type=text]:focus,input[type = number] :focus {
    width: 180px;
  }
  #lname{
    margin-left:
    49px;
  }
  #str{
    margin-left:15px;
  }
  .city{
    margin-left:50px;
  }
  #state{
    margin-left:20px;
  }
  #zc{
    margin-left:40px;
  }
  .leftnameerr{
    margin-top:-45px;
    margin-left:120px;
    position:absolute;
    font-size:10px;
    color:red;
}
.rightnameerr{
  margin-left:120px;
  position:absolute;
  font-size:10px;
  color:red;
}
.password{
  position:absolute;
  margin-top:20px;
  margin-left:5px;
}
#pw{
  margin-left:-60px;
}
#cpw{
  position:absolute;
  margin-left:-50px

}
.container10 input[type = email]{
  width:250px;
}
.container10 input[type = email]:focus{
  width:250px;
}
.specialnameerr1{
  margin-left:150px;
  margin-top:15px;
  margin-bottom: 10px;
  position:absolute;
  font-size:10px;
  color:red;
}
.specialnameerr{
  margin-left:150px;
  position:absolute;
  font-size:10px;
  color:red;
}
.button1 {
  border-radius: 8px;
  background-color:black;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left:120px;
  margin-top:50px;
}
  

}